
#stream-img {
	max-width: 95%;
	max-height: 400px;
}

.action-panel .thin-panel button.btn{
	padding: 0;
}

.action-panel .speed-panel button.btn {
	width: 1.5rem;
	height: 1.5rem;
}

.action-panel .light-panel button.btn {
	width: 1.5rem;
	height: 1.5rem;
	font-size: .7rem;
}

.action-panel .btn-s button.btn {
	padding: 0 .75rem;
	font-size: .8rem;
}
